site_name: SysAdmin & CyberSec Docs
site_description: Documentación de administración de sistemas, ciberseguridad y desarrollo.
site_url: https://docs.davidalvarezp.com
site_author: davidalvarezp

repo_name: davidalvarezp/docs
repo_url: https://github.com/davidalvarezp/docs

nav:
  - Inicio: index.md
  - SysAdmin:
      - Inicio: sysadmin/readme.md
      - Seguridad y alta disponibilidad: sysadmin/sad/index.md
      - Administración de Sistemas: sysadmin/aso/index.md
  - CyberSec:
      - Bastionado de redes y sistemas: cybersec/brs/index.md
      - Hacking Ético: cybersec/he/index.md
  - DevOps:
      - Linux Containers (LXC): devops/lxc/index.md

theme:
  name: material
  language: es
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.action.edit
    - header.autohide

  palette:
    - scheme: slate
      primary: green
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Modo claro
        
    - scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Modo oscuro


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search
  - tags

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/davidalvarezp
